<?xml version="1.0"?>

<model>
  <name>Parking Squares Ground Plane</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Mitchell Epp</name>
    <email>mdepp@ualberta.ca</email>
  </author>

  <description>
    Ground plane with red squares on it.
  </description>
</model>
